@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:wght@100&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playball&family=Roboto:wght@100&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Mukta:wght@200&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* max-width: 100%; */
}

body {
    background-color: rgb(12, 12, 12);
    color: white;
    /* position:absolute; */
    /* font-family: 'Cutive Mono', monospace; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
img {
    width: 100%;
    height: 100%;
}

html,
body {
    width: auto !important;
    overflow-x: hidden !important
}

/* ......................................... */
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: -10; */
    top: 0;
    left: 0;
    /* z-index:2!important; */
}

canvas {
    display: block;
    position: fixed;
}

/* .......................................... */

a {
    text-decoration: none;
}

.top-nav {
    min-height: 40vh;
    width: 100%;
    background: rgb(46, 31, 36);
    background: url(./assets/vertical_cloth.png);
    /* position: fixed; */
}

.navbar-brand>img {
    max-width: 70px;
    position: relative;
}

a.nav-link {
    color: rgba(240, 242, 240, 0.9) !important;
    letter-spacing: 2.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    width: 125px;
    padding: 7px !important;
    display: block;
    position: relative;
}

a.nav-link::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: -0;
    left: 0;
    transition: all .5s cubic-bezier(0.445, 0.03, 0.55, 0.95);
}

a:hover::after {
    height: calc(100% + 4px);
}

.hero-wrapper {
    position: relative;
    min-height: 60vh;
}

.hero .row {
    background-color: rgba(245, 242, 240, 20);
    min-height: 55vh;
}

.hero h1,
#contact h1 {
    padding-bottom: 1rem;
    color: black;
    font-size: 4.5rem;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(182, 30, 33);
    font-weight: 500;
}

.hero h4 {
    color: black;
    font-family: 'Cutive Mono', monospace;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;

}

.hero h5 {
    /* font-family: 'Cutive Mono', monospace; */
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.hero p {
    color: black;
    font-size: 1.2rem;
}

.hero span {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 500;
    font-weight: bold;
    font-size: 1.3rem;
}

#title {
    min-height: 8rem;
}

.sec-content {
    margin: 3rem 0;
    position: relative;

}

.sec-content>span>img {
    padding: 3rem 1.2rem;
}

.skills {
    color: white;
    margin-top: 3rem !important;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.skills .sec-title {
    padding: 1rem auto;
    margin: 1rem auto;
    background: url(./assets/vertical_cloth.png);
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 5px;
    justify-content: center;
    width: 25%;
    min-width: 250px;
}

.bgColorFill {
    text-transform: uppercase;
    padding: 1rem 0 !important;
    border: 2px solid black;
    background: linear-gradient(to right, rgb(167, 40, 9) 50%, rgb(5, 5, 5) 50%);
    background-size: 200% 100%;
    background-position: top right;
    transition: all .4s ease-out;
}

.bgColorFill:hover {
    /* border: 1px solid white; */
    background-position: bottom left;
    color: #fff;
}


.skills-content {
    /* background-color: rgba(245,242,240,20);
    background-color: rgb(48, 46, 46); */
    background: url(./assets/vertical_cloth.png);
    padding: 1rem auto;
    margin: 1rem auto;
}


.project {
    color: white;
    /* background-color: black; */
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
}


.project h1 {
    text-transform: uppercase;
}


.project img {
    background-color: transparent;
    outline: solid black 1px;
    border-radius: 20px;
    min-height: 200px;
}

.proj-content h2 {
    font-family: 'Roboto', sans-serif;
}

.proj-content p {
    font-weight: normal;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;

}

.proj-content span {
    font-weight: bolder;
    /* font-size: 1.1rem; */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: bold;
    /* background-color: rgb(46, 43, 43); */
    padding: 2px 4px;
    color: rgb(212, 23, 26);
}

.proj-content a {
    color: rgb(109, 144, 240);
    font-weight: bold;
}

.proj-content a i {
    /* color: white; */
    font-size: 1.3rem;
    padding-right: 10px;
}

.proj-content a i:hover {
    color: rgb(22, 70, 175);
}

.proj-content a:hover {
    color: rgb(22, 70, 175);
    /* box-shadow: rgb(158, 158, 223); */
}

.aboutMeSection {
    background: url(./assets/vertical_cloth.png);
    box-shadow: 12px -12px rgb(182, 30, 33);
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}



.aboutMeSection .sec-title h4 {
    font-size: 4rem;
    text-transform: uppercase;
    font-style: bolder;
    letter-spacing: 1px;
    padding: 2rem auto;
    font-family: 'Fredericka the Great', cursive;
    width: 30%;
    min-width: 250px;
    line-height: 110px;
    margin: auto;
}

#aboutmeContent {
    padding: 1rem 3rem;
    font-family: 'Cutive Mono', monospace;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2;
    min-height: 50vh;
}

#aboutmeContent span {
    /* font-style: italic; */
    font-size: 1.5rem;
    /* color: red; */

    font-family: 'Great Vibes', cursive;
    letter-spacing: 4px;
}


.aboutMeSection img {
    min-width: 200px;
}

.footer {
    color: rgba(251, 242, 240, 255);
    padding: 0.5rem;
    z-index: 9999 !important;
    /* background-image: url(./assets/black_lozenge.png); */
    position: relative;
}

.footer h4 {
    text-transform: uppercase;
    text-decoration: underline 1px white;
    text-underline-offset: 34px;
    font-family: 'Cutive Mono', monospace;
    /* letter-spacing: 1px; */
    font-size: 2.3rem;

}

.footer i {
    padding: 2rem 1rem;
    padding-top: 2.5rem !important;
    padding-bottom: 1rem;
    color: rgba(251, 242, 240, 255);

}

.footer p {
    padding: 1rem;
    margin-bottom: 0;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(251, 242, 240, 255);
    background: url(./assets/vertical_cloth.png);
    letter-spacing: 1px;

}

footer i:hover {
    color: rgb(182, 30, 33);
}

footer p:hover {
    color: rgb(202, 185, 164);
}


.bottom-nav ul {
    list-style: none;
    justify-content: center !important;
    /* align-items: center!important; */
    width: 50%;
}

.bottom-nav ul li {
    border-right: rgb(182, 30, 33) 3px solid;
    font-size: 1.1rem;
    width: 130px;
    /* padding: auto; */
    margin: 5px;
}

.bottom-nav ul :last-child {
    border-right: none;
}


.bgColorFillToTop {
    text-transform: uppercase;
    padding: 1rem 0 !important;
    border: 2px solid black;
    background: linear-gradient(to bottom, rgb(182, 30, 33) 50%, rgb(10, 10, 10) 50%);
    background-size: 100% 200%;
    background-position: bottom left;
    transition: all .3s ease-out;
}

.bgColorFillToTop:hover {
    /* border: 1px solid white; */
    background-position: top left;
    color: #fff;
}

.right-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2F80ED;
    margin-bottom: 1.2rem;
    position: relative;
}

.right-title::after {
    content: "";
    position: absolute;
    width: 60%;
    height: .2rem;
    background-color: #ccc;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para {
    line-height: 1.6rem;
    color: white;
    font-size: 1.1rem;
}

.sect {
    padding-bottom: 2rem;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
}

.tl-title {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #fc7c05;
    text-transform: uppercase;
    font-weight: bold;
}

.tl-title-2 {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #2D9CDB;
    text-transform: uppercase;
    font-weight: bold;
}

.tl-content {
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before {
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #2D9CDB;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

@media screen and (max-width:823px) {
    .right-title::after {
        width: 40%;
    }
}

@media screen and (max-width:681px) {
    .right-title::after {
        width: 30%;
    }
}



/* Media Query  */
@media (min-width: 768px) and (max-width: 1024px) {
    .skills {
        margin-top: 3rem !important;
    }

    /* .project img{
        margin-top:3rem;
    } */

    .proj-content h2 {
        font-size: 2rem;
    }

    .project h1 {
        font-size: 3rem;
    }


    .bottom-nav ul li {
        width: 60%;
    }

    .bottom-nav ul li {
        width: 130px !important;
        font-size: 0.8rem;
    }

    .bottom-nav ul li a {
        width: 100%;
    }

    #title {
        min-height: 8rem !important;
    }

}

@media (max-width: 767px) {

    .aboutMeSection {
        width: 90% !important;
    }

    .aboutMeSection img {
        margin-bottom: 1rem;
    }

    .aboutMeSection p {
        font-size: 1rem;
    }


    .skills {
        margin-top: 4rem;
    }

    .proj-content h2 {
        font-size: 1.8rem;
    }

    .project h1 {
        font-size: 2.5rem;
    }

    .footer h4 {
        font-size: 1.8rem;
    }

    .footer i {
        font-size: 2rem;
        padding: 10px;
    }

    .bottom-nav {
        width: 90% !important;
        margin-top: 4.5rem !important;
    }

    .bottom-nav ul li {
        /* width: 100%!important; */
        font-size: 0.7rem !important;
        /* width: 130px!important; */
        /* padding-right: 5px; */
        border-width: 1px;
    }

    .bottom-nav ul li a {
        width: 80px !important;
        /* padding-right: 3px!important; */
        font-size: 0.7rem !important;
    }

    #title {
        min-height: 8rem !important;
    }
}